//https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=00205b&secondary.color=FF9100
//https://stackoverflow.com/questions/47497743/how-to-create-a-custom-color-theme-with-angular5-and-angular-materials
//https://material.io/design/color/the-color-system.html#tools-for-picking-colors
//http://mcg.mbitson.com/#!?blue0=%2300205b&mcgpalette1=%23ff9100&red=%23d80027&themename=mcgtheme

// theme the best theme
// material icon theme

@import '@angular/material/theming';
@include mat-core();

//Para utilizar una paleta hexadecimal personalizada para un Angular - Material, deberá definir los diferentes tonos y los colores de contraste para la paleta, incluso si solo desea un color. Sugeriría usar al menos 3 colores (claro, normal, oscuro) para que funcione perfectamente con las animaciones integradas de Material:

// below defines your custom color to build a theme palette from
$coflex-blue: (
    50 : #e0e4eb,
    100 : #b3bcce,
    200 : #8090ad,
    300 : #4d638c,
    400 : #264174,
    500 : #00205b,
    600 : #001c53,
    700 : #001849,
    800 : #001340,
    900 : #000b2f,
    A100 : #687bff,
    A200 : #354eff,
    A400 : #0221ff,
    A700 : #001de7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$coflex-red: (
    50 : #fae0e5,
    100 : #f3b3be,
    200 : #ec8093,
    300 : #e44d68,
    400 : #de2647,
    500 : #d80027,
    600 : #d40023,
    700 : #ce001d,
    800 : #c80017,
    900 : #bf000e,
    A100 : #ffe7e8,
    A200 : #ffb4b6,
    A400 : #ff8185,
    A700 : #ff686c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$coflex-yellow: (
    50 : #fff8e6,
    100 : #ffeec0,
    200 : #ffe296,
    300 : #ffd66c,
    400 : #ffce4d,
    500 : #ffc52d,
    600 : #ffbf28,
    700 : #ffb822,
    800 : #ffb01c,
    900 : #ffa311,
    A100 : #ffffff,
    A200 : #fffcf8,
    A400 : #ffe7c5,
    A700 : #ffdcac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$coflex-gray: (
    50 : #e9edee,
    100 : #c9d1d5,
    200 : #a5b2b9,
    300 : #80939c,
    400 : #657c87,
    500 : #4a6572,
    600 : #435d6a,
    700 : #3a535f,
    800 : #324955,
    900 : #223742,
    A100 : #89d6ff,
    A200 : #56c5ff,
    A400 : #23b3ff,
    A700 : #09aaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$coflex-green: (
    50 : #e5f4f3,
    100 : #bee4e1,
    200 : #93d3cd,
    300 : #67c1b8,
    400 : #47b3a9,
    500 : #26a69a,
    600 : #229e92,
    700 : #1c9588,
    800 : #178b7e,
    900 : #0d7b6c,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//custom color
$my-app-gray: mat-palette($coflex-gray, 500, 900, A100);

$my-app-primary: mat-palette($coflex-blue, 500,900,A100);
$my-app-accent:  mat-palette($coflex-yellow, 500, 900, A100);
$my-app-warn:    mat-palette($coflex-red, 500,900,A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($coflex-gray, 500, 900, A100);
  $alternate-accent: mat-palette($coflex-green, 500, 900, A100);
  $alternate-warn: mat-palette($coflex-red, 400,900,A100);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
  @include angular-material-theme($alternate-theme);
}